<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>Your API Key</string>
	<key>GCM_SENDER_ID</key>
	<string>987386338427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhinavnagar.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-project-11541</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-project-11541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:987386338427:ios:51362a91aaa2695617d6de</string>
</dict>
</plist>
